@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: transparent;
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Prevent scrollbars in overlay */
}

#root {
  height: 100%;
  width: 100%;
}